<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.woalk.apps.xposed.htcblinkfeedauthorizer">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="64" />
    </application>

</manifest>
